{
    "chef_type": "environment",
    "cookbook_versions": {},
    "default_attributes": {
        "authorization": {
            "sudo": {
                "passwordless": true,
                "users": [
                    "user_name"
                ]
            }
        },
        "jku-mysql": {
            "server": {
                "master": {
                    "db_name": "db1",
                    "host": "127.0.0.1",
                    "port": "3306",
                    "root_password": "R4nD0m1z3DPa55W-orD!931",
                    "user": "default_user",
                    "user_password": "P13453_Ch-aNGe-th15)==194",
                    "version": "5.6"
                }
            }
        },
        "hhbd-apps": {
            "website": {
            }
        },
        "users": [
            "user_name"
        ]
    },
    "description": "New production environment",
    "json_class": "Chef::Environment",
    "name": "env",
    "override_attributes": {}
}
